<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Profile</title>
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='img/login.png') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='styles/myprofileDesign.css') }}" />
</head>
<body>
  <script src="{{ url_for('static', filename='scripts/validation.js') }}"></script>

  {% if (msg == "SUCCESFUL") %}
  <script>alert("Your Data Changed Succesfully")</script>
  {% elif (msg == "ERROR") %}
    <script>alert("{{msg1}}")</script>
  {% endif %}

  <div class="top-container">
    <div class="button-container">
        <button class="button" onclick="window.location.href='/index'">Homepage</button>
        <button class="button" onclick="window.location.href='/myAd'">My Advertisements</button>
        <button class="button" onclick="window.location.href='/logout'">Log Out</button>
    </div>
</div>
<br><br><br><br>
<div class="bottom-container">
  <div id='form'>
        <h1>My Profile</h1>
        <div class="profile-info">
          <form action="/myprofile" method="POST" onsubmit="return checkPassword()">
            <label for="username">Username:</label><br>
            <input type="text" id="username" name="username" value="{{username}}" required><br>

            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password" value="{{password}}" required><br>

            <label for="fullname">Full Name:</label><br>
            <input type="text" id="fullname" name="fullname" value="{{fullname}}" required><br>

            <label for="email">Email:</label><br>
            <input type="email" id="email" name="email" value="{{email}}" required><br>

            <label for="telno">Phone Number:</label><br>
            <input type="tel" id="telno" name="telno" pattern="[0-9]{10}" value="{{telno}}" required>
            <small>Format: 10 digit integer number (e.g. 5123456789)</small>
            <br><br>
            <input type="submit" value="UPDATE" id='gbtn'>
          </form>
            <br><br>
            <a href="javascript:history.go(-1)">Go Back</a>
        </div>
    
  </div>
</div>
</body>
</html>